* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Fira Code;

}

window#waybar {
  background: rgba(255, 255, 255, 0.05);
  color: white;
  font-size: 1.2rem;
}

#workspaces button {
  padding: 0 10px;
  background: transparent;
  color: white;
  font-size: 2rem;
}

#workspaces button.focused, #workspaces button.focused, #workspaces button:hover {
  background: transparent;
  box-shadow: inset 0 -5px white;
  /* color: @theme_fg_color; */
}

#workspaces button.urgent {
  /* background: @theme_fg_color; */
  /* color: @theme_selected_bg_color; */
}

#mode {
  margin: 0 4px;
  padding: 0 4px;
  /* background: @theme_fg_color; */
  /* color: @unfocused_borders; */
}

#pulseaudio, #network, #cpu, #memory, #disk, #temperature, #battery, #language, #clock, #tray {
  margin: 0 4px;
  padding: 0 2px;
}
