* {
  border: none;
  font-family: "Iosevka Comfy", "FontAwesome", "Nerd Font";
  font-size: 1.35rem;
  font-weight: 600;
  background: none;
}

window#waybar {
  color: #a5adcb;
  background-color: #181926;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.modules-left,
.modules-right,
.modules-center {
  padding: 12px 4px;
}

tooltip {
  color: #a5adcb;
  background-color: #181926;
  text-shadow: none;
}

tooltip * {
  color: #a5adcb;
  text-shadow: none;
}

#custom-sep {
  color: #494d64;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button {
  color: #5b6078;
  background: none;
  padding: 0;
}
#workspaces button:hover {
  color: #a6da95;
}
#workspaces button.active {
  color: #f5bde6;
}
#temperature {
  color: #eed49f;
}
#clock {
  font-weight: 600;
  color: #8bd5ca;
}
#custom-bluetooth_devices {
  color: #8aadf4;
}
#pulseaudio {
  color: #a6da95;
}
#pulseaudio.muted {
  color: #ed8796;
}

#custom-powermenu {
  margin: 12px 0 0 0;
  color: #6e738d;
}
